h1,h2,h3,p{
    color:#193F42;
}
p{
    text-align: justify;
}
#icone{
	height: 48px;
    width: 48px;
    border: 1px solid #193F42;
    box-shadow: 0 0 3px;
    border-radius: 10px;        
}
#animated-img1{
    margin-top: 100px;
}
#navbarCss{
    filter: opacity(90%);
}
#carouselImg{    
    filter: opacity(80%) sepia(10%);
    box-shadow: 0px 2px;
    
}
.produtosFotos{
    margin-top: 50px;
}
.carouselMarginTop{
    margin-top: -75px;
    box-shadow: 0px 3px 3px;    
}

