
h1,h2,h3,p{
    color:#193F42;
}
p{
    text-align: justify;
}
#icone{
	height: 48px;
    width: 48px;        
}
#animated-img1{
    margin-top: 100px;
}
#navbarCss{
    filter: opacity(90%);
}
#carouselImg{    
    filter: opacity(80%) sepia(10%);
    box-shadow: 0px 2px;
    
}
#botaoCapa:hover{
    background-color: #2EB455;
}
#nomeNav{
    font-family: 'Ranga', cursive;
    border: 1px solid #193F42;
    box-shadow: 0 0 3px;
    border-radius: 10px;
    padding-top:0px;
    padding-bottom: 0px;
    font-size: 22px;
}
#logoMaior{
    margin-top:-100px;
    margin-bottom:-50px;
}
#navBorda:hover{
    background-color:#2EB455;
    border-radius: 10px;
    transition:0.2s;
}
.produtosFotos{
    margin-top: 50px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.carouselMarginTop{
    margin-top: -75px;
    box-shadow: 0px 3px 3px;    
}


